# Build directory
target/
*.class

# Logs
*.log

# Maven wrapper
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Environment files
.env
application.yml

# System files
*.DS_Store
